.login-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.login-form {
  width: 500px;
  margin: 60px 0px 0px 60px;
}
.auth-btn {
  margin-top: 20px;
  width: 200px;
  border: 1px solid #000;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.auth-btn:hover {
  background-color: #000;
  color: white;
}
.login-banner {
  background-color: #9d00ff;
  max-height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.register-banner {
  background-color: #9d00ff;
  max-height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;

  color: white;
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn-nav {
  background-color: #9d00ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  margin: 30px 0px;
}
.navbar ul li a {
  text-decoration: none;
  color: #9d00ff;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  width: 200px;
}
.navbar ul li a:hover {
  background-color: #9d00ff;
  color: white;
}

.btn-budget button {
  width: 500px;
  height: 50px;
  background-color: #6e00b3;
  border: 1px solid grey;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.btn-budget button:hover {
  background-color: #39015b;
  color: white;
}
.dashboard-cards {
  display: flex;
  justify-content: space-around;
}
.dashboard-card {
  width: 300px;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
}
